<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isomorphic with React Tutorial by Kuroro</title>
</head>
<body style="background:url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTK-0fBka1ggiK-sHRsSm8S8EhaIsvIuMVzzLKV7m-nZjIi2rEEIdRwV9KF);">
    <div id="content">{{{markup}}}</div>
    <script src="/js/bundle.js"></script>
</body>
</html>