<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isomorphic with React Tutorial by Kuroro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
	<script>var googletag = googletag || {};googletag.cmd = googletag.cmd || [];</script>

	<script async='async' src='https://securepubads.g.doubleclick.net/static/glade.js'></script>

	<!--dfp ads script-->
	<script src="http://www.thaitv3.com/assets/js/adbanner_dfp.js"></script>
</head>
<body style="background:#CCC;">
    <div id="content">{{{markup}}}</div>
    <script src="/js/bundle.min.js"></script>
</body>
</html>